parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Api\\\\Controller\\\\AuthController\\:\\:\\$authorizationServer is never read, only written\\.$#"
			count: 1
			path: src/Api/Controller/AuthController.php

		-
			message: "#^Property App\\\\Api\\\\Controller\\\\AuthController\\:\\:\\$psrHttpFactory is never read, only written\\.$#"
			count: 1
			path: src/Api/Controller/AuthController.php

		-
			message: "#^Method App\\\\OAuth\\\\AccessToken\\:\\:__construct\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/AccessToken.php

		-
			message: "#^Method App\\\\OAuth\\\\AccessToken\\:\\:addScope\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/OAuth/AccessToken.php

		-
			message: "#^Method App\\\\OAuth\\\\AccessToken\\:\\:setScopes\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/AccessToken.php

		-
			message: "#^Property App\\\\OAuth\\\\ResponseType\\:\\:\\$entityManager is never read, only written\\.$#"
			count: 1
			path: src/OAuth/ResponseType.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:__construct\\(\\) has parameter \\$scopes with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:removeScopes\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:removeScopes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:uniqueScopes\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:uniqueScopes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Property App\\\\OAuth\\\\ScopeRepository\\:\\:\\$connection is never read, only written\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Property App\\\\OAuth\\\\User\\:\\:\\$identifier \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/OAuth/User.php
