parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$entities of method App\\\\Api\\\\Response\\\\JsonResponseType\\:\\:createListResponse\\(\\) expects iterable, App\\\\Entity\\\\EntityInterface\\|iterable\\<App\\\\Entity\\\\EntityInterface\\> given\\.$#"
			count: 1
			path: src/Api/Content/Controller/ContentController.php

		-
			message: "#^Parameter \\#1 \\$entity of method App\\\\Api\\\\Response\\\\JsonResponseType\\:\\:createDetailResponse\\(\\) expects App\\\\Entity\\\\EntityInterface\\|null, App\\\\Entity\\\\EntityInterface\\|iterable\\<App\\\\Entity\\\\EntityInterface\\> given\\.$#"
			count: 3
			path: src/Api/Content/Controller/ContentController.php

		-
			message: "#^Parameter \\#1 \\$haystack of function mb_stripos expects string, string\\|null given\\.$#"
			count: 1
			path: src/Api/EventListeners/JsonRequestListener.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string\\|false given\\.$#"
			count: 1
			path: src/Api/OpenApi/Generator/OpenApiLoader.php

		-
			message: "#^Method App\\\\Api\\\\Response\\\\JsonResponseType\\:\\:createListResponse\\(\\) has parameter \\$entities with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Api/Response/JsonResponseType.php

		-
			message: "#^Method App\\\\Api\\\\Response\\\\JsonResponseType\\:\\:getDecodedEntity\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Api/Response/JsonResponseType.php

		-
			message: "#^Method App\\\\Api\\\\Response\\\\JsonResponseType\\:\\:getDecodedEntity\\(\\) should return array but returns array\\|ArrayObject\\|bool\\|float\\|int\\|string\\|null\\.$#"
			count: 1
			path: src/Api/Response/JsonResponseType.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, iterable given\\.$#"
			count: 2
			path: src/Api/Response/JsonResponseType.php

		-
			message: "#^Method App\\\\Api\\\\User\\\\Service\\\\UserListService\\:\\:convert\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Api/User/Service/UserListService.php

		-
			message: "#^Cannot access offset 0 on \\(App\\\\Entity\\\\EntityInterface&Countable\\)\\|array\\<App\\\\Entity\\\\EntityInterface\\>\\|\\(Countable&iterable\\<App\\\\Entity\\\\EntityInterface\\>\\)\\.$#"
			count: 1
			path: src/Controller/CmsFrontendController.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\EntityInterface\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Core/Command/Writer.php

		-
			message: "#^Method App\\\\Core\\\\CustomEntityRepository\\:\\:isCollection\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/CustomEntityRepository.php

		-
			message: "#^Method App\\\\Core\\\\CustomEntityRepository\\:\\:read\\(\\) should return App\\\\Entity\\\\EntityInterface\\|iterable\\<App\\\\Entity\\\\EntityInterface\\> but returns array\\<int, object\\>\\.$#"
			count: 1
			path: src/Core/CustomEntityRepository.php

		-
			message: "#^Parameter \\#1 \\$entity of method Doctrine\\\\ORM\\\\EntityManager\\:\\:remove\\(\\) expects object, App\\\\Entity\\\\EntityInterface\\|iterable\\<App\\\\Entity\\\\EntityInterface\\> given\\.$#"
			count: 1
			path: src/Core/CustomEntityRepository.php

		-
			message: "#^Parameter \\#1 \\$entityName of method Doctrine\\\\ORM\\\\EntityManager\\:\\:getRepository\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: src/Core/CustomEntityRepository.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\ORM\\\\EntityManager\\:\\:getRepository\\(\\)$#"
			count: 1
			path: src/Core/CustomEntityRepository.php

		-
			message: "#^Method App\\\\Core\\\\ListServiceInterface\\:\\:convert\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/ListServiceInterface.php

		-
			message: "#^Method App\\\\OAuth\\\\AccessToken\\:\\:__construct\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/AccessToken.php

		-
			message: "#^Method App\\\\OAuth\\\\AccessToken\\:\\:addScope\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/OAuth/AccessToken.php

		-
			message: "#^Method App\\\\OAuth\\\\AccessToken\\:\\:setScopes\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/AccessToken.php

		-
			message: "#^Property App\\\\OAuth\\\\ResponseType\\:\\:\\$entityManager is never read, only written\\.$#"
			count: 1
			path: src/OAuth/ResponseType.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:__construct\\(\\) has parameter \\$scopes with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:removeScopes\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:removeScopes\\(\\) is unused\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:removeScopes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:uniqueScopes\\(\\) has parameter \\$scopes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php

		-
			message: "#^Method App\\\\OAuth\\\\ScopeRepository\\:\\:uniqueScopes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/OAuth/ScopeRepository.php
