{% extends 'base.html.twig' %}
{% block title %}Admin{% endblock %}

{% block content %}
    <div data-controller="btn">
        <div class="container-fluid min-vh-100 d-flex flex-column">
            <div class="row pb-4">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <small>MINI-CMS</small>
                        </a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a id="btn-overview" data-action="btn#overview" class="nav-link" href="#">
                                        <i class="bi bi-journal-album" style="font-size: 1.2rem;"></i>
                                        {{ menuContentOverview }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-action="btn#create" id="btn-create" class="nav-link" href="#">
                                        <i class="bi bi-journal-plus" style="font-size: 1.2rem;"></i>
                                        {{ btnCreate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row flex-grow-1">
                <div id="admin-content" class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}