{% extends 'base.html.twig' %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center">
        <div class="mx-auto"><h1>MINI-CMS</h1></div>
    </div>
{% endblock %}